<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../main.css" type="text/css">
  <script src="./script.js" defer></script>
  <title>Home</title>
</head>

<body>
  <main class="h-screen bg-gradient-to-b from-red-100 to-orange-100 from-75%">
    <img src="./heading.gif" class="w-2/3 max-w-xl mx-auto">
    <div class="absolute bottom-0 w-full gatoz">
      <img src="./elgato-base.png" class="mx-auto mt-32 drop-shadow-2xl relative animate-bounce">
    </div>
  </main>
</body>

</html>